<%= stylesheet_link_tag "devam_eden_projeler", media:"all", "data-turbo-track": "reload" %>
<div class="container-fluid">
	<div class="row">
		<h4 class="text-center">Devam Eden Projeler</h4>
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<section class="wrapper">
			    <div class="container-fostrap">
			        <div class="content">
			            <div class="container">
			                <div class="row">
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            	<%= image_tag("devam-eden-projeler/tramvay.png")%>
			                          	</a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Karabük Eskipazar Tramvay Hattı Projesi
			                                </p>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            <%= image_tag("devam-eden-projeler/aydın-kanal-inşaatı.jpeg")%>
			                          </a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Aydın Yeni Kanal Projesi
			                                </p>
			                            </div>		                           
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            <%= image_tag("devam-eden-projeler/riyad-altyapı.jpeg")%>
			                          </a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Riyad Altyapı Hizmetleri Projesi
			                                </p>
			                            </div>			       
			                        </div>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            <%= image_tag("devam-eden-projeler/yusufeli-baraj.jpeg")%>
			                          </a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Yusufeli Barajı Köprü Projesi			                                
			                                </p>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            <%= image_tag("devam-eden-projeler/akkuyu-nükleer.jpeg")%>
			                          </a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Akkuyu Nükleer Santral Projesi
			                                </p>
			                            </div>		                           
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            	<%= image_tag("devam-eden-projeler/buharkent.jpg")%>
			                          	</a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Buharkent Termik Santral Projesi
			                                </p>
			                            </div>			       
			                        </div>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            	<%= image_tag("devam-eden-projeler/muğla-fetiye.jpg")%>
			                          	</a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Fetiye Otel Zinciri Projesi
			                                </p>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            	<%= image_tag("devam-eden-projeler/şanlıurfa-solarpanel.jpg")%>			                          
			                        	</a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Şanlıurfa Güneş Panel Santrali projesi
			                                </p>
			                            </div>		                           
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            <%= image_tag("devam-eden-projeler/arabistan-nükleer.webp")%>
			                          </a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                    Arabistan Nükleer Santral Projesi
			                                </p>
			                            </div>			       
			                        </div>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            	<%= image_tag("devam-eden-projeler/istanbul.jpeg")%>
			                          	</a>
			                            <div class="card-content">
			                                <p class="text-center">
			                                 	İstanbul Medipol Center Projesi
			                                </p>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            	<%= image_tag("devam-eden-projeler/ankara.jpeg")%>
			                          	</a>
			                            <div class="card-content">	                             
			                                <p class="text-center">
			                           	        Ankara Ryzen Center Projesi
			                                </p>
			                            </div>		                           
			                        </div>
			                    </div>
			                    <div class="col-xs-12 col-sm-12 col-md-4">
			                        <div class="card">
			                            <a class="img-card" href="#">
			                            	<%= image_tag("devam-eden-projeler/elazığ.jpeg")%>
			                          	</a>
			                            <div class="card-content">
			                                <p class="">
			                                    Elazığ Toki Yeni Alanlar Projesi
			                                </p>
			                            </div>			       
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>