<%= stylesheet_link_tag "index", media:"all", "data-turbo-track": "reload" %>
<div class="container-fluid" style="background:#ffe7b3;width:100%;">
    <div class="row">
        <h3 class="mainpage-h3">Torek İnşaat 1998’ten beri dünya genelinde kaliteden ve güvenilirlik ilkesinden ödün vermeden<br>yürüttüğü projelerde Türkiye’yi başarıyla temsil ediyor.</h3>
    </div>
</div>

<section class="wrapper pt-5">
    <div class="container-fostrap">
        <div>
            <h1 class="heading">
                Projelerimiz 
            </h1>
        </div>
        <br><br>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="">
                                <%= image_tag("slider-1.jpeg",class:"card-img-top",alt:"Card image")%>
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">İzmir yaşam alanı projesi</a>
                                </h4>
                                <p class="">
                                    İzmir Yaşam Alanı projesi ile yeni cenneti keşfedin
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <%= image_tag("slider-2.jpeg",class:"card-img-top",alt:"Card image")%>
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Ankara Center Life satışa açıldı</a>
                                </h4>
                                <p class="">
                                    İzmir de tamamlanan gayrimenkullerin ardından Torek İnşaat olarak Ankaradaki gayrimenkullerimizin de tamamlandığını resmen ilan ediyoruz
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <%= image_tag("slider-3.jpeg",class:"card-img-top",alt:"Card image")%>
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Singapur'dan ilk proje</a>
                                </h4>
                                <p class="">
                                    Singapur merkezli ilk projemizin temeli geçen ay atıldı. 
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                            <%= image_tag("slider-4.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#"> İstanbul-İzmir Arası otoyol yapımı 2025'te başlıyor</a>
                                </h4>
                                <p class="">
                                    Planlanan İstanbul-İzmir arası otoyolun inşasının ocak 2025 itibari ile başlaması planlanıyor
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                            <%= image_tag("slider-5.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Çin'in dev metropolünde yol yapımı</a>
                                </h4>
                                <p class="">
                                    Çin'in wuhan kentinde yol yapımı için açılan ihaleyi Torek İnşaat kazandı.
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                            <%= image_tag("slider-6.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Aydın-Denizli otoyolu projesi
                                  </a>
                                </h4>
                                <p class="">
                                    Bu proje ile Aydın-Denizli arası yaklaşık bir saate kadar düştü
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" style="background:#ffe7b3;width:100%;">
    <div class="row">
        <h3 class="mainpage-h3">Torek İnşaat, çeyrek asırlık deneyimini dünyanın dört bir yanındaki projelere aktarırken<br>önceliğin her zaman “insan” olduğu bilinciyle hareket ediyor..</h3>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row">
        <h3 class="text-center mainpage-h3">Duyurular</h3>
    </div>
    <div class="row pt-4">
        <p class="text-center" style="font-size:20px;">Şirketimizle ilgili son gelişmeleri, haberler bölümümüzdeki duyurular ile takip edebilirsiniz.</p>
    </div>
</div>

<section class="wrapper pt-5">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                            <%= image_tag("slider-1.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Torek İnşaat İzmir'de yaptığı yeni gayrimenkullerin satışında rekor kırdı!</a>
                                </h4>
                                <p class="">
                                    Geçen ay yapımı İzmir'de tamamlanan gayrimenkuller satış rekoru kırdı.
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Habere Git
                                </a>
                            </div-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                             <%= image_tag("slider-2.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Torek İnşaat Ankaradaki gayrimenkul satışını resmen başlattı</a>
                                </h4>
                                <p class="">
                                    İzmir de tamamlanan gayrimenkullerin ardından Torek İnşaat olarak Ankaradaki gayrimenkullerimizin de tamamlandığını resmen ilan ediyoruz
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Habere git
                                </a>
                            </div-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                             <%= image_tag("slider-6.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">Aydın-Denizli otoyolunun inşasına başlandı</a>
                                </h4>
                                <p class="">
                                    Aydın-Denizli arasına yapılması planlanan otoyolun inşası bugün itibariyle başladı
                                </p>
                            </div>
                            <!--div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Habere Git
                                </a>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>