<%= render "layouts/navbar" %>
<%= stylesheet_link_tag "index", media:"all", "data-turbo-track": "reload" %>
<!--div class="container-fluid">
    <h3 style="text-align:center;padding-bottom:10px">Projelerimiz</h3>
    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 row-cols- row-cols-lg-12">
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <%# image_tag("slider-1.jpeg",class:"card-img-top",alt:"Card image")%>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <%# image_tag("slider-2.jpeg",class:"card-img-top",alt:"Card image")%>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <%# image_tag("slider-3.jpeg",class:"card-img-top",alt:"Card image")%>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-0">
            <div class="card" style="width: 18rem;">
                <%# image_tag("slider-1.jpeg",class:"card-img-top",alt:"Card image")%>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">Wormer</div>
    </div>
</div-->
<div class="container-fluid" style="background:#ffe7b3;width:100%;">
    <div class="row">
        <h3 class="mainpage-h3">Torek İnşaat 1998’ten beri dünya genelinde kaliteden ve güvenilirlik ilkesinden ödün vermeden<br>yürüttüğü projelerde Türkiye’yi başarıyla temsil ediyor.</h3>
    </div>
</div>

<section class="wrapper pt-5">
    <div class="container-fostrap">
        <div>
            <img src="https://www.yenigun.com.tr/wp-content/uploads/2018/11/yenigun-logo.png" class="fostrap-logo"/>
            <h1 class="heading">
                Projelerimiz 
            </h1>
        </div>
        <br><br>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <%= image_tag("slider-1.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                                  </a>
                                </h4>
                                <p class="">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                             <%= image_tag("slider-2.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Material Design Responsive Menu
                                  </a>
                                </h4>
                                <p class="">
                                    Material Design is a visual programming language made by Google. Language programming...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                             <%= image_tag("slider-3.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5  Button Hover Animation Effects
                                  </a>
                                </h4>
                                <p class="">
                                    tutorials button hover animation, although very much a hover button is very beauti...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <%= image_tag("slider-4.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                                  </a>
                                </h4>
                                <p class="">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <%= image_tag("slider-5.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                                  </a>
                                </h4>
                                <p class="">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <%= image_tag("slider-6.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                                  </a>
                                </h4>
                                <p class="">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" style="background:#ffe7b3;width:100%;">
    <div class="row">
        <h3 class="mainpage-h3">Torek İnşaat, çeyrek asırlık deneyimini dünyanın dört bir yanındaki projelere aktarırken<br>önceliğin her zaman “insan” olduğu bilinciyle hareket ediyor..</h3>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row">
        <h3 class="text-center mainpage-h3">Duyurular</h3>
    </div>
    <div class="row pt-4">
        <p class="text-center" style="font-size:20px;">Şirketimizle ilgili son gelişmeleri, haberler bölümümüzdeki duyurular ile takip edebilirsiniz.</p>
    </div>
</div>

<section class="wrapper pt-5">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <%= image_tag("slider-1.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">Torek İnşaat İzmir'de yaptığı yeni gayrimenkullerin satışında rekor kırdı!</a>
                                </h4>
                                <p class="">
                                    Geçen ay yapımı İzmir'de tamamlanan gayrimenkuller satış rekoru kırdı.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Habere Git
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                             <%= image_tag("slider-2.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html">Torek İnşaat Ankaradaki gayrimenkul satışını resmen başlattı</a>
                                </h4>
                                <p class="">
                                    İzmir de tamamlanan gayrimenkullerin ardından Torek İnşaat olarak Ankaradaki gayrimenkullerimizin de tamamlandığını resmen ilan ediyoruz
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Habere git
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                             <%= image_tag("slider-6.jpeg",class:"card-img-top",alt:"Card image")%>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">Aydın-Denizli otoyolunun inşasına başlandı</a>
                                </h4>
                                <p class="">
                                    Aydın-Denizli arasına yapılması planlanan otoyolun inşası bugün itibariyle başladı
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Habere Git
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>