<%= stylesheet_link_tag "devam_eden_projeler", media:"all", "data-turbo-track": "reload" %>
<div class="container-fluid">
	<div class="row">
		<h4 class="text-center">Tamamlanan Projeler</h4>
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<section class="wrapper">
			    <div class="container-fostrap">
			        <div class="content">
			            <div class="container">
			            	<% @projects.each do |project|%>
			            		<div class="row">
			            			<% project.each do |p|%>
			            				<div class="col-xs-12 col-sm-12 col-md-4">
				                        	<div class="card custom-card">
				                            	<a class="img-card" href="#">
				                            		<%= image_tag(p.image)%>
				                          		</a>
				                            	<div class="card-content">
				                                	<p class="text-center">
				                                    	<%= p.title%>
				                                	</p>
				                            	</div>
				                           		<div class="card-details">
				                           			<strong>Başlangıç tarihi : <%= p.start_date%></strong><br>
				                           			<strong>Bitiş tarihi : <%= p.end_date%></strong><br><br>
				                            		<p><%= p.body%></p>
				                           		</div>
			                        		</div>
			                    		</div>
			            			<%end%>
			            		</div>
			            	<%end%>
			            </div>
			        </div>
			    </div>
			</section>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>
