<%= stylesheet_link_tag "tarihce", media:"all", "data-turbo-track": "reload" %>
<section style="background-color: #F0F2F5;">
 	<div class="container py-5">
    	<div class="main-timeline-2">
    		<div class="timeline-2 left-2">
        		<div class="card">
          			<%= image_tag("aliaga.png",class:"card-img-top",alt:"Torek İnşaat İlk Yurtdışı projesi")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">Endüstrisel Projeler</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2020</p>
            			<p class="mb-0">
            				Endüstriyel proje deneyimini geliştirme hedefi doğrultusunda İzmir – Aliağa’daki ilk
							projelerin alınması
			            </p>
	          		</div>
        		</div>
      		</div>
    		<div class="timeline-2 right-2">
        		<div class="card">
          			<%= image_tag("otel.jpeg",class:"card-img-top",alt:"Torek İnşaat İlk Yurtdışı projesi")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">Türkiyenin En büyük üçüncü otel zincirinin inşaatına başlanması</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2019</p>
            			<p class="mb-0">
            				Torek İnşaat bünyesinde Türkiyedeki en büyük üçüncü inşaat zincirinin inşaatına başladımınız gururla ilan ediyoruz
			            </p>
	          		</div>
        		</div>
      		</div>
    		<div class="timeline-2 left-2">
        		<div class="card">
          			<%= image_tag("en_buyuk.jpeg",class:"card-img-top",alt:"Torek İnşaat İlk Yurtdışı projesi")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">Dünyanın En Büyük 500 Uluslararası Müteahhitlik Firmasından Biri</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2018</p>
            			<p class="mb-0">
            				Engineering News Record (ENR) Uluslararası En Büyük 500 Müteahhitlik Firması
							listesinde sıralamaya ilk defa girilmesi
			            </p>
	          		</div>
        		</div>
      		</div>
    		<div class="timeline-2 right-2">
        		<div class="card">
          			<%= image_tag("nükleer.jpeg",class:"card-img-top",alt:"Torek İnşaat İlk Yurtdışı projesi")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">Nükleer Reaktör ile Enerji Sektörüne giriş</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2017</p>
            			<p class="mb-0">
            				Akkuyu nükleer santrali ile enerji sektöründe ilk adımlar.
			            </p>
	          		</div>
        		</div>
      		</div>
      		<div class="timeline-2 left-2">
        		<div class="card">
          			<%= image_tag("rusya.png",class:"card-img-top",alt:"Torek İnşaat İlk Yurtdışı projesi")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">İlk Yurtdışı tecrübesi</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2015</p>
            			<p class="mb-0">
            				Moskova’da Gazprom Bilim ve Teknoloji Merkezi Projesi’nin tamamlanması. Rusya ile yeni anlaşmaların imzalanması
			            </p>
	          		</div>
        		</div>
      		</div>
      		<div class="timeline-2 right-2">
        		<div class="card">
          			<%= image_tag("toseg.jpeg",class:"card-img-top",alt:"Torek inşaat TUSEG Projesi")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">NATO Projeleri ve Yeni Bir Vizyon</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2010</p>
            			<p class="mb-0">
			            	NATO ve ABD ortak kuruluşu olan TUSEG (The US Engineering Group) projelerine
							başlaması
			            </p>
          			</div>
        		</div>
      		</div>
      		<div class="timeline-2 left-2">
        		<div class="card">
          			<%= image_tag("genis_aile.jpg",class:"card-img-top",alt:"Yenigün ailesi foroğrafı")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">Aile Şirketine Geçiş</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2008</p>
            			<p class="mb-0">
              				Mustafa Yenigün’ün ağabeyi Ahmet Yenigün’ün katılımı, diğer ortaktan ayrılma ve aile
							şirketi kimliğine bürünme. Şirketin bünyesinde işçi alımları.
						</p>
          			</div>
        		</div>
      		</div>
      		<div class="timeline-2 right-2">
        		<div class="card">
          			<%= image_tag("ilkokul.jpg",alt:"Torek İnşaat ilkokul projesi",class:"card-img-top")%>
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4"> Yolculuğun başlangıcı</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 2002</p>
            			<p class="mb-0">İstanbul’dan Ankara'ya taşınma, ilkokul inşaatı ve ilk NATO işlerinin alınması ile
							müteahhitliğe başlama
						</p>
          			</div>
        		</div>
     		</div>
      		<div class="timeline-2 left-2">
        		<div class="card">
          			<div class="card-body p-4">
            			<h4 class="fw-bold mb-4">Kuruluş</h4>
            			<p class="text-muted mb-4"><i class="far fa-clock" aria-hidden="true"></i> 1998</p>
            			<p class="mb-0">Mustafa Yenigün Ferdi İşletmesi olarak ticaret odasına kayıt.</p>
          			</div>
        		</div>
      		</div>
    	</div>
  	</div>
</section>