<%= stylesheet_link_tag "yonetim_kurulu", media:"all", "data-turbo-track": "reload" %>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container-fluid">
	<div class="row pb-4">
		<h3 class="text-center">Yönetim Kurulu</h3>
		<hr>
	</div>
	<div class="row">
		<section id="team" class="team_member section-padding">
			<div class="container">				
				<div class="section-title text-center pb-4">
					<h4>Torek İnşaat Yönetim Kurulu Üyeleri</h4>
				</div>				
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team_img">
								<%= image_tag("sirket_yöneticisi.jpg",alt:"Tuncay Dinler")%>
							</div>
							<div class="team-content">
								<h3 class="title">Tuncay Dinler</h3>
								<span class="post">Kurucu</span>
							</div>
						</div>
					</div>											
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="our-team">
							<div class="team_img">
								<%= image_tag("murat_taşkıran.jpg",alt:"Murat Taşkıran")%>
							</div>
							<div class="team-content">
								<h3 class="title">Murat Taşkıran</h3>
								<span class="post">Kurucu</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="our-team">
							<div class="team_img">
								<%= image_tag("kaan_özalkan.png",alt:"Kaan Özalkan")%>
							</div>
							<div class="team-content">
								<h3 class="title">Kaan Özalkan</h3>
								<span class="post">Yönetim Kurulu Üyesi</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
						<div class="our-team">
							<div class="team_img">
								<%= image_tag("ayşe_kalkan.jpeg",alt:"Ayşe Kalkan")%>
							</div>
							<div class="team-content">
								<h3 class="title">Ayşe Kalkan</h3>
								<span class="post">Yönetim Kurulu Üyesi</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
						<div class="our-team">
							<div class="team_img">
								<%= image_tag("merve_kırmızı.jpg",alt:"Merve Kırmızı")%>
							</div>
							<div class="team-content">
								<h3 class="title">Merve Kırmızı</h3>
								<span class="post">Yönetim Kurulu Üyesi</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
						<div class="our-team">
							<div class="team_img">
								<%= image_tag("berat_nesin.jpeg",alt:"Berat Nesin")%>
							</div>
							<div class="team-content">
								<h3 class="title">Berat Nesin</h3>
								<span class="post">Yönetim Kurulu Üyesi</span>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</section>
	</div>
</div>
